body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#display {
    background-color: #222;
    color: white;
    font-size: 2em;
    padding: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #eaeaea;
}

.equal-sign {
    background-color: #4CAF50; /* Green */
    color: white;
}